@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@config "../tailwind.config.js";

@theme {
	--font-sans: "Fira Sans", sans-serif;
	--font-serif: "Libre Baskerville", serif;
	--font-mono: "Fira Code", monospace;

	--color-primary: var(--color-neutral-900);
	--color-secondary: var(--color-neutral-800);
	--color-accent-pink: var(--color-pink-600);
	--color-accent-violet: var(--color-violet-600);
}

/* Sets the `--bg` var to the background color, so it can be
   used inside the `border-gradient` component */
@utility bg-* {
	--bg: --value(--color);
}

/* Utility component for borders with gradients.
   See: https://codyhouse.co/nuggets/css-gradient-borders
   Uses `var(--bg)` set by the bg utility, or uses the primary color as fallback. */
/* prettier-ignore */
@utility border-gradient-* {
	background:
		linear-gradient(var(--bg, --color-primary), var(--bg, --color-primary)) padding-box,
		linear-gradient(to bottom left in oklab, var(--color-accent-pink), var(--color-accent-violet)) border-box;
	border: --value(number)px solid transparent !important;
	margin: calc(-1 * --value(number)px) !important;
}

/* Utility component for text with gradients.
   See: https://cssgradient.io/blog/css-gradient-text */
/* prettier-ignore */
@utility text-gradient {
	background-image:
		linear-gradient(to bottom left in oklab, var(--color-accent-pink), var(--color-accent-violet));
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}

@layer components {
	.focus {
		@apply focus:ring-0 focus:outline-none; /* disable default focus style */
		@apply focus-visible:border-gradient-3 focus-visible:rounded-lg;
	}
}
