@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
	--font-sans: "Roboto Flex Variable", sans-serif;
	--font-mono: "Fira Code Variable", monospace;

	--color-primary: var(--color-neutral-900);
	--color-secondary: var(--color-neutral-800);
	--color-accent-pink: var(--color-pink-600);
	--color-accent-violet: var(--color-violet-600);
}

:root {
	--fa-width: 1em;
}

@utility prose {
	--tw-prose-body: var(--color-neutral-200);
	--tw-prose-headings: var(--color-neutral-50);
	--tw-prose-lead: var(--color-neutral-300);
	--tw-prose-links: var(--color-neutral-200);
	--tw-prose-bold: var(--color-neutral-200);
	--tw-prose-counters: var(--color-neutral-300);
	--tw-prose-bullets: var(--color-neutral-400);
	--tw-prose-hr: var(--color-neutral-700);
	--tw-prose-quotes: var(--color-neutral-100);
	--tw-prose-quote-borders: var(--color-neutral-700);
	--tw-prose-captions: var(--color-neutral-400);
	--tw-prose-code: var(--color-neutral-200);
	--tw-prose-pre-code: var(--color-neutral-200);
	--tw-prose-pre-bg: rgb(255 255 255 / 50%);
	--tw-prose-th-borders: var(--color-neutral-600);
	--tw-prose-td-borders: var(--color-neutral-700);
}

/* Sets the `--bg` var to the background color, so it can be
   used inside the `border-gradient` component */
@utility bg-* {
	--bg: --value(--color);
}

/* Utility component for borders with gradients.
   See: https://codyhouse.co/nuggets/css-gradient-borders
   Uses `var(--bg)` set by the bg utility, or uses the primary color as fallback. */
/* prettier-ignore */
@utility border-gradient-* {
	background:
		linear-gradient(var(--bg, --color-primary), var(--bg, --color-primary)) padding-box,
		linear-gradient(to bottom left in oklab, var(--color-accent-pink), var(--color-accent-violet)) border-box;
	border: --value(number)px solid transparent !important;
	margin: calc(-1 * --value(number)px) !important;
}

/* Utility component for text with gradients.
   See: https://cssgradient.io/blog/css-gradient-text */
/* prettier-ignore */
@utility text-gradient {
	background-image:
		linear-gradient(to bottom left in oklab, var(--color-accent-pink), var(--color-accent-violet));
	background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}

/* Apply border-gradient on focus */
@utility focus-gradient {
	@apply focus:ring-0; /* disable default focus style for inputs */
	@apply focus-visible:border-gradient-3 focus-visible:rounded-lg;
}

@layer base {
	*:focus-visible {
		@apply rounded-md outline-2 outline-blue-500;
	}
}
