* {
	box-sizing: border-box;
}

html {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

body {
	margin: 0;
	padding: 2rem;
	background-color: $grey;
	color: $white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
